Dictionary Web Service/DictionaryConsole/Connected Services/AdminService/Dictionary_Web_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dictionary_Web_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dictionary_Web_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adjective" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Antonym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExampleSentence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Meaning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plural" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pronunciation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Synonym" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
</xs:schema>